/* STYLE PRESETS DO NOT ALTER THIS SECTION */
h1, h2, h3, h4, h5, h6 {
    margin-top:10px;
}

p {
    font-size:16px;
}

.fab, .far {
    font-size:30px;
    margin-left:5px;
    margin-right:5px;
}

/* PLACE YOUR CUSTOM CODE HERE */
.banner{
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center center;
}
.text-uppercase {
  color: white;
}

.navbar{
  margin-bottom: 0;
  background-color: white;
}

.logo{
  width: 6%;
}
.row{
  padding: 3% 0 3% 0;
}
.adopt-animal{
  background-color: light gray;
}
.footer{
  background-color: black;
}
.footer-text{
  color: white;
}
